
html, body{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    padding: 15px;
}
header a{
    color: #fff;
    padding: 0 15px;

}
.slider{
    margin-top: 15px;
    background-color: pink;
    color: black;
    padding: 15px;
    font-size: 42px;
}
.text-center{
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.film{
    margin: 5px;
    border: 1px solid plum;
    padding: 15px;
}

.film h3{
    text-align: center;
}
.film img{
    width: 100%;
}
.film .description{
    color: #777;
}
footer{
    margin-top: 15px;
    padding: 15px;
    background-color: plum;
    color: antiquewhite;
    font-size: 12px;
}

.btn{
    padding: 7px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

.btn:hover{
    cursor: pointer;
}

.btn.btn-pay:hover{
    background-color: coral;
}

.btn.btn-pay{
    background-color: darkkhaki;
    color: white;
}

.btn.btn-favorite{
    background-color: blueviolet;
    color: #fff;
}

.btn.btn-favorite:hover{
    background-color: plum;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
}

header a:hover{
    color: yellow;
}